.benchmarks/
.infinity_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/

dist/
build/
scratch/

*.egg-info/
.coverage
coverage.xml
*.py[cod]
*$py.class

# Ignore private seeds contents except .gitkeep
submodules/private-seeds/*
!submodules/private-seeds/.gitkeep
